<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Badges</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="badges.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="desktop">
      
      <div id="stanga">
        <div class="title">Badges</div>
      </div>


      <div id="dreapta">
        
      </div>  
    </div>

  </body>

  <script type="text/javascript" src="./badges.js"></script>

</html>
