<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="login.css" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
      <!--<header>
        <h1></h1>
        <img src="dove.png" alt="a simple dove logo"> 
      </header>-->

        <div id="div-login-form">
          <form id="login-form">
            <div id="form-title">
              LOGIN
            </div>
            <div id="form-cred">
              Please enter your credentials to login
            </div>
            <input type="text" id="username" name="username" placeholder="Username">
            <div id="user_gresit">Wrong username</div>
            <input type="password" id="password" name="password" placeholder="Password">
            <div id="parola_gresita">Wrong password</div>
            <input type="button" value="LOGIN" onclick="Testare()">
            
          </form>
        </div>

      <!--<footer>
        Created by Pavel Silviu.<a href="http://game-icons.net/lorc/originals/dove.html">Inovation</a> is everything.</p> 
      </footer>-->
  </body>
  <script type="text/javascript" src="./login-validari.js"></script>
</html>