<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="loginClient.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
        <div id="div-login-form">
          <form id="login-form">
            <div id="form-title">
              LOGIN
            </div>
            <div id="form-cred">
              Please enter your credentials to login
            </div>
            <input type="text" id="username" name="username" placeholder="Username">
            <div id="userInvalid"></div>
            <input type="text" id="password" name="password" placeholder="Password">
            <input type="submit" id="submitButton" value="LOGIN">
            <div id="form-not-reg">
              <div id="form-not-reg1">
                Not registered?
              </div>
              <div id="form-not-reg2">
                <a href="register.html">Create an account</a>
              </div>
            </div>
            
          </form>
        </div>

        <script>
          let loginForm=document.getElementById("login-form");
          loginForm.addEventListener("submit", handleFormSubmit);

          async function handleFormSubmit(event){
            event.preventDefault();
            const form = event.currentTarget;
            const url = "http://127.0.0.1:8081/login";
            try {
            const formData = new FormData(form);
            const responseData = await postFormDataAsJson({ url, formData });

            console.log({ responseData});

            window.location.replace("http://127.0.0.1:8081/UserHome.html");

            } catch (error) {
              console.error(error);
            }
          }

          async function postFormDataAsJson({ url, formData }) {
            const plainFormData = Object.fromEntries(formData.entries());
            const formDataJsonString = JSON.stringify(plainFormData);

            const fetchOptions = {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "Accept": "application/json"
                },
                body: formDataJsonString,
            };

            const response = await fetch(url, fetchOptions);

            if (!response.ok) {
              const errorMessage = await response.text();
              throw new Error(errorMessage);
            }

            return response.json();
          }
        </script>
  </body>
</html>
