<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="registerClient.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
        <div id="div-login-form">
          <form action="UserHome.html" id="login-form">
            <div id="form-title">
              REGISTER
            </div>
            <div id="form-cred">
              Please enter your credentials to register
            </div>
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="text" id="password" name="password" placeholder="Password">
            <input type="submit" value="REGISTER">
          </form>
        </div>
  </body>
</html>
